.home-button {
    background-image: url('../assets/images/parqal-home.png');
    color: #c15669;
}

.home-button:hover {
    background-image: url('../assets/images/parqal-home.png') !important;
}

.home-button.active {
    background-image: url('../assets/images/parqal-home.png') !important;
}

.search-button {
    background-image: url('../assets/images/parqal-search.png');
    color: #6051e3;
    margin-right: -3px;
}

.search-button:hover {
    background-image: url('../assets/images/parqal-search.png') !important;
}

.search-button.active {
    background-image: url('../assets/images/parqal-search.png') !important;
}

.map-button {
    background-image: url('../assets/images/parqal-map.png');
    color: #6051e3;
    margin-right: -5px;
}

.map-button:hover {
    background-image: url('../assets/images/parqal-map.png') !important;
}

.map-button.active {
    background-image: url('../assets/images/parqal-map.png') !important;
}

.promos-button {
    background-image: url('../assets/images/parqal-promos.png');
    color: #e89b12;
    margin-right: -1px;
}

.promos-button:hover {
    background-image: url('../assets/images/parqal-promos.png') !important;
}

.promos-button.active {
    background-image: url('../assets/images/parqal-promos.png') !important;
}

.cinema-button {
    background-image: url('../assets/images/Cinemav4.png');
    color: #246c63;
}

.cinema-button:hover {
    background-image: url('../assets/images/Cinemav4s.png') !important;
}

.cinema-button.active {
    background-image: url('../assets/images/Cinemav4s.png') !important;
}

.events-button {
    background-image: url('../assets/images/parqal-events.png');
    color: #246c63;
}

.events-button:hover {
    background-image: url('../assets/images/parqal-events.png') !important;
}

.events-button.active {
    background-image: url('../assets/images/parqal-events.png') !important;
}

.landmark-button {
    background-image: url('../assets/images/parqal-landmark.png');
    color: #246c63;
}

.landmark-button:hover {
    background-image: url('../assets/images/parqal-landmark.png') !important;
}

.landmark-button.active {
    background-image: url('../assets/images/parqal-landmark.png') !important;
}

.c-category-1 {
    color:#246c63;
}

.c-category-2 {
    color:#823d3b;
}

.c-category-3 {
    color:#c18c2f;
}

.c-category-4 {
    color:#6051e3;
}

.c-category-5 {
    color:#6051e3;
}

input[type="text"]:focus
{
    box-shadow: none !important;
    border-color: #6051e3;
}

.search-box {
    font-family: 'Henry Sans Medium';
    font-size: 24px; 
    width: 65%; 
    padding-left: 10px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    border-color: #6051e3;
    border-width: 1px;
    margin: auto;
    border-radius: 10px;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    height: calc(1.5em + 0.75rem + 6px) !important;
}

.search-box-button {
    font-size: 24px;
    background-color: #000;
    border-radius: 5px;
    margin-left: 5px;
    width: 111px;
    text-align: center;
    color: #DFBD69 !important;
    text-transform: uppercase;
    position: absolute;
    right: 7px;
    top: 2px;
    padding: 0.35rem 0.5rem;
}

.search-box-button:focus
{
    outline: none;
    box-shadow: none !important;
    border-color: none;
    color: #fff;
}

.carousel-indicators span {
    background-color: #DFBD69;
}

.tab-item-selected > div {
    background-color: #DFBD69 !important;
    color: #000 !important;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 5px 10px 5px 10px;
}

.tab-item-selected > div > a {
    color: #fff !important;
}

.custom-color {
    color: #DFBD69;
}

.guide-title {
    color: #fff;
}

.guide-steps {
    padding-left: 10px;
    margin-top: 19px;
    color:#fff;
}

#tenant-details {
    width: 485px;
    min-height: 525px;
    position: absolute;
    top: 95px;
    left: 920px;
    display: none;
    z-index: 1;
    border-radius: 40px;
    border: 0;
    background-color: rgba(143,143,143,0.8);
}

#tenant-details .assist {
    color: #fff !important;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

#guide-button {
    position: absolute;
    font-family: 'Henry Sans Regular';
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    top: 646px;
    right: 60px;
    background: #98dad0;
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 2;
}

#toggle-updown-text {
    width: 100px;
    text-align: center;
    padding: 0px;
}

.assist li:before {
    content: "";
    position: absolute;
    left: 6px;
    border-left: 1px dashed #fff !important;
    height: 100%;
    width: 3px;
    top: 30px;
}

.assist li:last-child:after {
    content: "\2022";
    color: #fff;
}

.guide-steps {
    padding-left: 10px;
    margin-top: 19px;
    color:#fff;
}

.btn-nothelpful {
    font-size:1rem;
    background-color: #fff;
    color:#000;
}

.btn-helpful {
    font-size:1rem;
    background-color: #DFBD69;
    color: #fff;
}

.helpful-label {
    color: #fff;
}

#guide-button {
    background: #DFBD69 !important;
    color: #000;
}

.tenant-details {
    border-radius: 30px;
    height: 670px;
    width: auto;
    font-size: 1.3em;
    margin-left: 20px;
    background-color: #DFBD69;
}

.tenant-details-logo {
    width: 185px;
    height: 185px;
    max-height: 280px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 2px rgb(192 192 192 / 80%);
    float: none;
}

.tenant-details-floor {
    color: #000000;
    margin-top: -8px;
    float: none;
    margin-left: 0;
}

.tenant-details-views {
    color: #000000;
    margin-top: -8px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-top: 10px;
}

.btn-heart {
    float: none;
    margin: 0;
}

.btn-like-display {
    font-size: 0.994em;
    float: none;
    margin: 8px 0 0 15px;
    color: #000;
}

.tenant-products-container {
    position: relative;
    border: solid 2px #DFBD69;
    height: 670px;
    border-radius: 30px;
    width: 96%;
}

.centered-container {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.arrow {
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.multiselect__select {
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    right: 6px !important;
    top: 43% !important;
    padding: 6px !important;
    transition: transform .1s ease !important;
    border: solid #DFBD69!important;
    display: inline-block !important;
    border-width: 0 6px 6px 0 !important;
    transform: rotate(-225deg) !important;
    -webkit-transform: rotate(225deg) !important;
    margin-right: 8px !important;
}

.multiselect__option--highlight {
    background: #DFBD69 !important;
}

.btn-outline-secondary:hover {
    background-color: #DFBD69 !important;
    box-shadow: none !important;
}

.softkeys__btn {
    color: #000;
    border: 1px solid #000 !important;
    background-color: #F1F0F5;
}

.delete-key {
    background-image: url('../assets/images/key-delete-generic.png');
    color: transparent;
}

.delete-key:hover, .delete-key:focus {
    outline: none;
    background-color: #98dad0 !important;
    color: transparent !important;
}

.back-button {
    z-index: 1;
    position: absolute;
    bottom: -100px;
    left: 15px;
    cursor: pointer;
    width: 86px;
    height: 68px;
    background-image: url(../assets/images/parqal-back.png) !important;
    background-repeat: no-repeat;
}

.back-overlay {
    position: absolute;
    bottom: -75px;
    left: 75px;
    z-index: 1;
    color: #DFBD69;
    font-size: 24px;
    width: 65px;
    text-align: center;
    border-radius: 6px;
    text-transform: uppercase;
}

.assistance_tooltip {
    position:absolute;
    bottom: -100px;
    right:0px;
    z-index: 2;
    width: 86px;
    height: 68px;
    border-radius: 15px 0 0 15px;
    background-image: url('../assets/images/parqal-help.png') !important;
    background-repeat: no-repeat;
}

.help-overlay {
    position: absolute;
    bottom: -75px;
    right: 115px;
    z-index: 2;
    color: #DFBD69;
    font-size: 24px;
    width: 48px;
    text-align: center;
    text-transform: uppercase;
}

.widget-button {
    background-size: 75px auto;
    background-repeat: no-repeat;
    font-family: 'Henry Sans Medium';
    background-position-x: center;
}

.h-button {
    width: 230px;
    height: 120px;
}

.button-text-align {
    font-family: 'Henry Sans Regular';
    position: absolute;
    text-align: center;
    width: 225px;
    top: 80px;
    left: 0;
    color: #DFBD69;
    text-transform: uppercase;
}

.router-page {
    height: 845px;
}

.bg-color {
    background-color: #000;
}

.food, .fashion, .electronics, .function, .finds, .health {
    margin-top: 0;
    margin-left: 0;
    width: 335px;
    height: 335px;
    text-align: center;
}

.food div, .fashion div, .electronics div, .function div, .finds div, .health div {
    top: 0;
    left: 0;
    color: #DFBD69;
    text-transform: uppercase;
    width: 200px;
    height: auto;
    margin: auto;
}

.hc-button-align {
    position: relative;
}

.multilanguage {
    display: none;
}

.client-website-holder {
    margin: auto;
    color: #DFBD69;
    font-size: 28px;
    padding-top: 30px;
    font-weight: bold;
}

.category-container {
    width: 100%;
    height: 500px;
}

.main-category-holder {
    width: 410px;
    height: 411px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 5px #DFBD69;
    position: relative;
}

.ïtem-holder {
    width: 410px;
    height: 411px;
    position: relative;
}

.rounded-container {
    width: 310px;
    height: 311px;
    overflow: hidden;
    border-radius: 50%;
    border: solid 5px #DFBD69;
    position: relative;
    margin: 44px 50px 50px 50px;
    opacity: .5;
}

.category-name-holder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bolder;
    width: 310px;
    text-align: center;
}

.center > .ïtem-holder > .rounded-container {
    width: 410px;
    height: 411px;
    opacity: 1;
    margin: 0;
    transition:all 0s ease;
}

.center > .ïtem-holder > .rounded-container > .category-name-holder {
    width: 410px;
    opacity: 1;
}

.owl-carousel .owl-item img {
    opacity: .5;
}

.ml-150 {
    margin-left: 155px;
}

.mt-25 {
    margin-top: 25px;
}

.tabs-container {
    width: 100%;
    font-size: 1.5em;
    bottom: 9.6rem;
    right: 0.32rem;
}

.datetime-holder {
    color: #DFBD69;
    font-size: 35px;
    font-weight: bolder;
}

.separator {
    border-right: solid #DFBD69;
    padding-right: 15px;
}

.popover {
    background-color: #DFBD69;
    border-radius: 25px;
    font-weight: bold;
    width: 200px;
    position: absolute;
    bottom: 80%;
    margin-right: 5rem;
}
.popover.bottom .arrow::after {border-bottom-color: #DFBD69; }

.popover-content {background-color: #DFBD69;}

.btn-custom {
    background-image: url(../images/parqal-btn-bg.png) !important;
    width: 286px;
    height: 64px;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: bold;
}

.map-holder {
    background-color: #fff;
    height: 747px;
    margin-left: -2px;
    width: 100%;
}

.btn-secondary {
    color: #000;
    background-color: #DFBD69;
    border-color: #DFBD69;
    font-weight: bold;
    border-radius: .7rem;
    padding: 0.375rem 1.9rem;
    z-index: 2;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #000;
    background-color: #DFBD69;
    border-color: #DFBD69;
}

.btn-secondary.focus, .btn-secondary:focus {
    color: #000;
    background-color: #DFBD69;
    border-color: #DFBD69;
}

.btn-secondary:hover {
    color: #000;
    background-color: #DFBD69;
    border-color: #DFBD69;
}

.dropdown-menu {
    background-color: #DFBD69;
    border-radius: 0.7rem;
    min-width: 11rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0px 15px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-weight: bold;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #DFBD69;
    text-decoration: none;
    background-color: #000;
    border-radius: 1.5rem;
}

.swipe-to-see-more {
    position: absolute;
    text-align: center;
    left: 37.5rem;
    top: -7rem;
    color: #DFBD69;
    opacity: 0.9;
    font-size: 18px;
}

.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev-icon {
    display: none;
}

.carousel-control-next {
    width: 2rem;
    height: 539px;
    border: none;
    background: url(/images/parqal-right.png) no-repeat;
    background-position: center;
}

.carousel-control-prev {
    width: 2rem;
    height: 539px;
    border: none;
    background: url(/images/parqal-left.png) no-repeat;
    background-position: center;
}

.tenant-store, .tenant-search {
    background: url(/images/parqal-tenant-big.png);
    border: 1px solid #efefef;
    padding: 5px;
    border-radius: 16px;
    height: 90px;
    width: 330px;
    cursor: pointer;
}

.home-title {
    font-family: Henry Sans Regular;
    font-weight: 400;
    font-size: 2em;
    padding: 15px 0 15px 0;
    color: #DFBD69;
    padding-right: 10px;
}

.label-4 {
    color: #DFBD69;
    font-size: 40px;
    text-align: center;
    margin-top: 290px;
}

.modal-content {
    border-radius: 2rem;
}

.social-holder {
    font-size: 14px;
    font-weight: bold;
    color: #5E252C;
}

.subscriber-products {
    overflow-y: auto;
    width: 100%;
}

.with-height {
    height: 670px;
    position: relative
}

.with-out-height {
    height: auto;
    position: relative
}

.img-promo {
    width: 260px;
    height: auto;
}

.img-promo-4 {
    width: 215px;
    height: auto;
}

.m-auto {
    margin: auto;
}

.f-left {
    float: left;
    margin: 20px;
}

.v-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.rounded-corner {
    border-radius: 20px;
}

.landmark-container {
    width: 100%;
    height: 264px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
}

.landmark-container img{
    width: 100%;
    height: 264px;
}

.landmark-name {
    position: absolute;
    width: 100%;
    height: 88px;
    bottom: 0;
    background-color: #E0BD69;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: #151E19;
    text-transform: uppercase;
    padding: 25px;
}

.landmark-info {
    position: absolute;
    bottom: 5px;
    right: 12px;
    width: 38px;
    height: 38px;
    text-transform: uppercase;
    color: #151E19;
    border: solid 2px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    padding: 5px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mt-45 {
    margin-top: 45px;
}

#eventCarousel {
    width: 100%;
}

.event-container {
    width: 100%;
    height: 285px;
    overflow: hidden;
    position: relative;
}

.event-container img{
    width: 220px;
    height: 220px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.event-name-holder {
    color: #fff;
    position: absolute;
    bottom: -5px;
    font-size: 20px;
    text-align: left;
}

.parqal-color {
    color: #E0BD69;
}

.carousel-mh-690 {
    min-height: 690px;
}

.carousel-indicators {
    bottom: 0;
}

.control-next-pp {
    height: 350px;
}

.control-prev-pp {
    height: 350px;
}

.event-item-holder {
    height: 690px;
    width: 100%;
    position: relative;
}

.event-container-custom {
    width: 300px;
    height: 385px;
    position: relative;
}

.event-container-custom img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
}

.lanmark-img {
    width: 100%;
}

.lanmark-detail-holder {
    color: #E0BD69;
}

.softkeys__btn {
    border-radius: 5px !important;
    margin-left: 16px !important;
}

.custom-modal {
    background-color: transparent;
}

.map-search-modal-position {
    top: 45%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 25px;
    padding-bottom: 35px;
}

.btn-close-modal {
    margin-right: 25px;
}