/* MEGA/NORTH */
.home-button {
    background-image: url('../assets/images/Home.png');
    color: black;
}

.home-button:hover {
    background-image: url('../assets/images/Home-active.png') !important;
}

.home-button.active {
    background-image: url('../assets/images/Home-active.png') !important;
}

.search-button {
    background-image: url('../assets/images/Search.png');
    color: black;
    margin-right: -3px;
}

.search-button:hover {
    background-image: url('../assets/images/Search-active.png') !important;
}

.search-button.active {
    background-image: url('../assets/images/Search-active.png') !important;
}

.map-button {
    background-image: url('../assets/images/Map.png');
    color: black;
    margin-right: -5px;
}

.map-button:hover {
    background-image: url('../assets/images/Map-active.png') !important;
}

.map-button.active {
    background-image: url('../assets/images/Map-active.png') !important;
}

.promos-button {
    background-image: url('../assets/images/Promos.png');
    color: black;
    margin-right: -1px;
}

.promos-button:hover {
    background-image: url('../assets/images/Promos-active.png') !important;
}

.promos-button.active {
    background-image: url('../assets/images/Promos-active.png') !important;
}

.cinema-button {
    background-image: url('../assets/images/Cinema.png');
    color: black;
}

.cinema-button:hover {
    background-image: url('../assets/images/Cinema-active.png') !important;
}

.cinema-button.active {
    background-image: url('../assets/images/Cinema-active.png') !important;
}

.event-button {
    background-image: url('../assets/images/Cinemav4.png');
    color: black;
}

.event-button:hover {
    background-image: url('../assets/images/Cinemav4s.png') !important;
}

.event-button.active {
    background-image: url('../assets/images/Cinemav4s.png') !important;
}